
.col-md-2 {
  border-right: 2px solid black;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 520px;
  }

#heading {
  display: block !important;
  background-color: violet !important;
  padding: 20px !important;
}

.recipe {
  float: left;
  padding: 15px;
}

  a {
    color: black !important;
    font-family: 'Indie Flower', cursive !important;
    font-size: 250% !important;
  }

#description {
  padding-left: 20px important!;
}

a:hover {color: black;}
a:active {color: grey;}
a:visted {color: grey;}

.carousel-caption {
  font-size: 15px;
}

h3 {
font-family: 'Oxygen', sans-serif;
}

h1 {
font-family: 'Indie Flower', cursive;
font-size: 300%;
}

.row
{padding: 15px;}
