
.col-md-2 {
  border-right: 2px solid black;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 520px;
  }

  a {
    color: black !important;
  }

a:hover {color: black;}
a:active {color: grey;}
a:visted {color: grey;}

.carousel-caption {
  font-size: 15px;
}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
}

h1 {
font-family: 'Indie Flower', cursive;
font-size: 400%;
}

.row
{padding: 15px;}
