
.col-md-2 {
  border-right: 2px solid black;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 815px;


  }

.col-md-10
{padding: 10px;}

#heading { padding: 10px;
color: #3399FF !important;
background-color: #FFFF33 !important;
}

.recipe {
  float: left;
  padding: 15px;
}

  a {
    color: black !important;
    font-family: 'Indie Flower', cursive !important;
    font-size: 250% !important;
  }

#description
{
  margin-left: 52px !important;
}

#waiting
{
  margin-left: 40px !important;
  padding: 15px;
}

a:hover {color: black;}
a:active {color: grey;}
a:visted {color: grey;}

.carousel-caption {
  font-size: 15px;
}

h3 {
font-family: 'Oxygen', sans-serif;
}

h1 {
font-family: 'Indie Flower', cursive;
font-size: 300%;
}

.row
{padding: 15px;}
